@use 'sass:math';
@import "/styles/tools";

.Component {
  padding: 72px 0;
  text-align: center;
  overflow: hidden;
}

.Placeholder {
  display: block;
  padding-bottom: math.div(100% * 752, 602);
  margin: 0 0 24px;
}

.Image {
  padding: 0 32px;

  position: absolute;
  bottom: 72px + 56px + 24px;
  left: 0;
  right: 0;
}

.Values > li {
  display: inline-block;
  vertical-align: middle;
  &:not(:first-child):before {
    content: "•";
    display: inline-block;
    margin: 0 4px;
    
  }
}

.Card,
.Card img{
  border-radius: 3%;
}

.Image {
  &::after {
    content: "";
    display: block;
    padding-bottom: math.div(100% * 752, 602);
  }

  .Card {
    position: absolute;
    width: 42.5%;
  }

  .Card:nth-child(1) {
    top: 0;
    left: 10%;
  }

  .Card:nth-child(2) {
    right: 32px;
    top: 30%;
  }

  .Card:nth-child(3) {
    bottom: 0;
    left: 32px;
  }
}

@include medium() {
  .Component {
    padding: 104px 0;
    text-align: left;
  }

  .Image {
    position: relative;
    bottom: 0;
    padding: 0;
    .Card {width: 48.5%;}

    .Card:nth-child(2) {
      right: 0;
    }
  
    .Card:nth-child(3) {
      left: 0;
    }
  }

  .Placeholder {display: none;}

}

/**********************************
 * Shape
 **********************************/
.Title::after {
  background-image: url(/static/images/shapes/pink-top-left-revert.svg);

  width: 40px;
  height: 40px;

  left: -20px;
  top: -40px;
}

@include medium() {
  .Title::after {
    width: 60px;
    height: 64px;

    top: -40px;
    left: -40px;
  }
}