@import "/styles/tools";

.Component {
  padding: 40px 0;
}

main[class*="BgBlack"] .Component[data-bg="BgBlack"] h2 {
  color: $hexPink;
}

.Content {
  p + p,
  p + ul {
    margin-top: 20px;
  }

  strong,b {font-weight: $bold;}
}

.Title {
  em {
    font-style: normal;
    display: inline-block;
  }

  em::after {
    background-image: url(/static/images/shapes/why/pink-underline.svg);

    width: 100%;
    max-width: 220px;
    height: 40px;
    bottom: -40px;
    right: 0;
  }
}

.Image {max-width: 70%;}

@include medium() {
  .Component {padding: 104px 0;}
  .Image {max-width: 100%;}
}