@import "/styles/tools";

.Component {
  padding: 56px 0;

  background-position: bottom right;
}

.Placeholder{
  display: block;
}

.Number {
  font-size: 43px;
  line-height: 43px;
  letter-spacing: -1px;
}

.Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.10);
}

.Kpi {
  text-align: center;
  &__Title {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

.Footnote {
  padding-top: 32px;
  text-align: center;
}


@include medium() {

  .Component {
    padding: 104px 0 64px;
  }

  .Number {
    font-size: 86px;
    line-height: 86px;
    letter-spacing: -2px;
  }

  .Kpi {
    text-align: left;

    display: flex;
    flex-flow: row nowrap;

    > div:first-child{
      flex: 0 0 232px;
    }

    > div:last-child{
      flex: 1 1 auto;
      padding-left: 24px;
      padding-top: 16px;
      padding-right: 32px;
    }
  }

  .Kpi__Title {
    max-width: 100%;
  }

  .Buttons {
    display: flex;
    justify-content: center;
    > div {
      margin: 0 12px;
    }
  }

  .Footnote {
    font-size: 16px;
    text-align: left;
  }
}

@include large() {
  .Placeholder{display: none;}
  .Image {position: static;}

  .Scroll{
    height: 200vh;
  }

  .Screen {
    height: 100vh;
  }

  .Kpi {
    opacity: .15;
    transition: 400ms opacity;
  }

  .Kpi.Active {opacity: 1;}
}

/********************************
 * Gradient
 ********************************/
@import "/styles/gradient";